---
import Layout from '../layouts/Layout.astro';
import Description from '../components/Description.astro';
import Experiencia from '../components/Experiencia.astro';
import Proyectos from '../components/Proyectos.astro';
import FormContact from '../components/FormContact.astro';

---

<Layout 
title="Porfolio de Julian - Desarrollador y Programador de Software"
description="Contrata a este excelente desarrollador de software, especializado en crear aplicaciones unicas.">
	
	<main class="px-4">

		<Description />
		<Experiencia />
		<Proyectos />
		<FormContact />

		
	</main>
</Layout>

