---
import SectionContainer from './SectionContainer.astro';
import Experience from './Experience.astro';   
import BriefCase from './icons/BriefCase.astro';
---
    <SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center x-3">
				<BriefCase class="size-7" />
				Experiencia laboral</h2>

		<Experience />
	</SectionContainer>